@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');

* {
    color: white;
    background-color: #111111;
    font-family: "VT323", monospace;
}

.container {
    border: 1px solid rgb(72, 72, 72);
    background-color: #111111;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 190px auto;
    max-width: 230px;
    padding: 10px 10px;
    transform: scale(1.75);

    border-radius: 7px;
}

.container input {
    font-size: medium;
    padding: 0 0 0 16px;
    height: 30px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    color: white;
    border: 1px solid;
    transition: 0.3s ease-in-out;
}

.row {
    padding: 10px 10px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    margin: 20px auto;
    flex-grow: 1;
}

.row button {
    cursor: pointer;
    color: #ffffff;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #696969;
    border: 1px solid;
    margin-top: 10px;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.25s ease;
}

.row button:hover {
    cursor: pointer;
    background-color: #000000;
    transition: 0.25s ease;
    transform: scale(1.25);
}


.row .calc {
    background-color: orange;
}

.row .calc:hover {
    background-color: rgb(196, 127, 0);
}
h1{
    font-size: 40px;
}